<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user">

    <uses-permission android:name="android.permission.INTERNET"/> <!--인터넷 권한 선언-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="sikiGo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.User"
        android:usesCleartextTraffic="true"
        android:name=".Privacy">
        <activity android:name=".Splashscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Search"/>
        <activity android:name=".Order"/>
        <activity android:name=".QRcode_popup" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".My"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".food_list"/>
        <activity android:name=".restaurant"/>
        <activity android:name=".MyOrderList">
        </activity>
    </application>

</manifest>